.icon{
  display:inline-block;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  vertical-align: middle;
  &.icon-pass-show{
    width: 22px;
    height: 16px;
    background-image:url('~@/assets/images/index/icon-pass-show.png');
  }
  &.icon-pass-hidden{
    width: 20px;
    height: 10px;
    background-image:url('~@/assets/images/index/icon-pass-hidden.png');
  }
  // 办公空间
  &.icon-login-company{
    width: 30px;
    height: 30px;
    background-image:url('~@/assets/images/index/icon-login-company.png');
  }
  // 个人空间
  &.icon-login-user{
    width: 30px;
    height: 30px;
    background-image:url('~@/assets/images/index/icon-login-user.png');
  }
  // 需求-公司
  &.icon-company{
    width: 16px;
    height: 16px;
    background-image:url('~@/assets/images/icon/icon-company.png');
  }
  // 音乐人-个人主页
  &.icon-musician-user{
    width: 24px;
    height: 26px;
    background-image:url('~@/assets/images/musician/icon-musician-user.png');
  }
  // 音乐人-作品管理
  &.icon-musician-zpgl{
    width: 24px;
    height: 24px;
    background-image:url('~@/assets/images/musician/icon-musician-zpgl.png');
  }
  // 音乐人-上传作品
  // &.icon-musician-zpgl{
  //   width: 24px;
  //   height: 24px;
  //   background-image:url('~@/assets/images/musician/icon-musician-zpgl.png');
  // }


}